.card {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 280px;
	padding: 25px 35px;

	transition: all 0.5s ease-out;

	border-radius: 10px;
	background: #F0F4F7;
}

.slide {
	height: 300px;
}

.card:hover {
	transition: all 0.5s ease-out;

	box-shadow: 10px 10px 20px 0 rgba(206, 222, 234, 0.5);
}

.tag {
	align-self: flex-start;

	margin-bottom: 15px;
	padding: 9px 28px;

	border-radius: 5px;

	font-size: 14px;

	font-weight: 500;
	line-height: 16px;
}

.title {
	margin-bottom: 15px;

	font-size: 24px;
	font-weight: 600;
	line-height: 130%;
}

.shortDesc {
	margin-bottom: 25px;

	font-size: 16px;
	line-height: 130%;
}

.moreBtn {
	text-align: center;

	color: var(--primary);

	font-size: 14px;
	line-height: 16px;
}

.moreBtn a {
	transition: all 0.3s;
}

.moreBtn a:hover {
	transition: all 0.3s;

	color: var(--blue);
}


@media (max-width: 768px) {
	.slide {
		height: auto;
	}
	.slide .title {
		font-size: 20px;
	}
}

@media (max-width: 575px) {
	.slide .shortDesc {
		display: none;
	}
	.cardCategory {
		height: auto;
	}
}
