.btnSubmit {
    margin-top: 10px;
    outline:none;
    border: none;
    display: inline-block;

    box-sizing: border-box;
    width: 100%;

    padding: 15px 0;

    cursor: pointer;
    text-align: center;

    border-radius: 5px;
    color: var(--white);
    background: var(--primary);

    font-family: Raleway, sans-serif;
    font-size: 16px;

    font-weight: 600;
    line-height: 18px;
    transition: background-color .3s;
}

.btnSubmit:hover {
    background: var(--blue);
}

.close {
    background: transparent;
    border: none;
}

.success {
    color: var(--green);
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0;
}

.error {
    color: red;
}

.hide {
    display: none;
}