.slider {
	margin-bottom: 60px;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

.embla {
	position: relative;

	margin-right: auto;
	margin-left: auto;
}

.embla__viewport {
	overflow: hidden;

	width: 100%;
}

.embla__container {
	display: flex;

	-khtml-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

.embla__slide {
	position: relative;

	min-width: 680px;
	margin-left: 40px;
}

.embla__slide:nth-child(1) {
	margin-left: 0;
}
