.container {
	max-width: 1400px;
	margin: 0 auto;
}

.wrapper {
	margin-bottom: 40px;
}

.headerMain {
	align-items: center;

	justify-content: center;

	grid-template-rows: 100px;
	grid-template-areas: ". logo search learn call .";

	gap: 25px;
}

.headerMainContent {
	display: grid;
	align-items: center;

	justify-content: center;
	grid-template-columns: auto 1fr 194px 194px;
	grid-template-rows: 100px;
	grid-template-areas: " logo search learn call";

	gap: 25px;
}

.logo {
	grid-area: logo;

	display: flex;
	align-items: center;
}

.search {
	max-width: 726px;
	grid-area: search;
}

.learn {
	grid-area: learn;
}

.call {
	grid-area: call;
}

.headerLocation {
	align-items: center;

	justify-content: end;

	background: var(--grey);

	font-size: 16px;

	/* display: grid; */

	/* grid-template-columns: minmax(10px, 130px) auto 1fr auto auto minmax(10px, 130px); */
	grid-template-rows: 1fr;
	grid-template-areas: ". . city num1 num2 .";
	gap: 15px;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

.headerLocationContent {
	display: grid;
	align-items: center;

	justify-content: end;

	background: var(--grey);

	/* max-height: 50px; */

	font-size: 16px;
	grid-template-columns: auto 1fr auto auto;
	grid-template-rows: 1fr;
	grid-template-areas: " . city num1 num2";
	gap: 15px;
}

.city {
	display: flex;
	justify-content: flex-end;

	margin: 0;
	padding: 15px;

	font-weight: 500;
	grid-area: city;
}

.city select {
	border: none;
	background-color: var(--grey);

	font-family: var(--font-family);
}

.num1 {
	grid-area: num1;

	font-weight: 600;
}

.num2 {
	grid-area: num2;

	font-weight: 600;
}

.headerMenu {
	grid-template-rows: 1fr;
	grid-template-areas: ". menu . .";

	margin: 0;
}

.headerMenuContent {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 1fr;
	grid-template-areas: " menu . ";

	/* margin: 0; */
}

.headerMenu ul {
	display: flex;

	list-style-type: none;
	grid-area: menu;
	justify-self: flex-start;
}

.headerMenu ul li {
	margin-right: 63px;

	cursor: pointer;

	font-size: 16px;
	font-weight: 500;
}

.hoverLink {
	position: relative;
}

.submenu {
	display: none;
}

.arrow {
	padding-left: 10px;
}

.submenu.active {
	position: absolute;
	z-index: 1000;
	top: 20px;

	display: grid;

	width: 1401px;
	height: 436px;
	padding: 40px;

	background: #FFF;
	box-shadow: 0 20px 40px -12px rgba(0, 0, 0, 0.06);
	grid-template-columns: 400px 400px;
}

.tablinks {
	margin: 0;
	padding: 0 0 35px 0;
}

.tablinks a {
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
}

.tablinks a:hover {
	color: var(--primary);
}

.tab {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.tabContent {
	padding-left: 35px;
}

.tabContentItem {
	padding-bottom: 30px;

	line-height: 145%;
}
