.categoryPage {
	padding-bottom: 100px;
}

.categoryWrap {
	display: flex;
}

.sidebar {
	margin-right: 40px;
}

.testsItem {
	margin-bottom: 30px;
}

.loadMore {
	max-width: 230px;
	margin: 0 auto;
}
