.card {
	display: flex;
	flex-direction: column;

	width: 584px;
	height: 260px;
	padding: 25px 35px;

	transition: all 0.5s ease-out;

	border-radius: 20px;
	background: #F0F4F7;
}

.card:hover {
	transition: all 0.5s ease-out;

	box-shadow: 10px 10px 20px 0 rgba(206, 222, 234, 0.5);
}

.info {
	flex: 0 0 285px;
}

.content {
	display: flex;
	justify-content: space-between;
}

.cardCategory .content {
	flex-direction: column;
}

.buy {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tag {
	align-self: flex-start;

	margin-bottom: 15px;
	padding: 4px 15px;

	border-radius: 5px;

	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
}

.cardProduct .tag {
	color: var(--green);
	border: 1px solid var(--green);
}

.cardCategory .tag {
	color: var(--blue);
	border: 1px solid var(--blue);
}

.title {
	margin-bottom: 20px;

	font-size: 24px;
	font-weight: 600;
	line-height: 130%;
}

.shortDesc {
	margin-bottom: 30px;

	font-size: 14px;
	line-height: 130%;
}

.id {
	font-size: 10px;
	line-height: 12px;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

.price {
	text-align: center;

	color: var(--primary);

	font-size: 36px;
	font-weight: 700;
	line-height: 42px;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

.buyBtn {
	width: 180px;
	padding: 10px 0;

	cursor: pointer;
	text-align: center;

	color: #FFF;
	border: none;
	border-radius: 10px;
	background: var(--blue);
	background-image: linear-gradient(113.06deg, #2E9BDE 15.14%, #187CB8 71.36%);

	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 23px;
}

.buyBtn:hover {
	background: var(--blue);
}

.moreBtn {
	text-align: center;

	color: var(--primary);

	font-size: 14px;
	line-height: 16px;
}

.cardCategory .moreBtn {
	align-self: flex-end;
}

.moreBtn a {
	transition: all 0.3s;
}

.moreBtn a:hover {
	transition: all 0.3s;

	color: var(--blue);
}
